.navbar{
  background-color: rgb(233, 187, 209);
  background-image: url('./components/navbar.jpg');
  background-size: cover;
}

.card_style:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.308);
}

.card_style{
  cursor: pointer;
  transition: .3s;
}

.bg-img{
  width: 100%;
  height: 90vh;
  background-image: url('./components/bg.img.jpg');
  background-size: cover;
  background-position: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

.bg-img h1{
  font-size: 60px;
  letter-spacing: 2.5px;
  padding: 20px 40px;
}

.card_details{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 24rem;
  padding: 10px; 
  position: relative;
}

.smallclose{
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 23px;
  cursor: pointer;
  
}
